* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    font-size: 3em;
    text-align: center;
    color: rgb(255, 0, 111);
    margin: 20px 0 40px;
}

.subtitle {
    text-align: center;
    margin-bottom: 40px;
}

.row {
    margin-bottom: 50px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.card {
    background-color: black;
    color: white;
    width: calc(33.3% - 20px);
    border-radius: 5px;
    float: left;
    margin: 0 10px;
}

.card::after {
    content: "";
    display: table;
    clear: both;
}

.card img {
    width: 100px;
    margin-right: 15px;
    float: left;
    border-radius: 5px 0 0 5px;
}

.card-info {
    padding: calc(100px - 87.5px) 0;
}

.card-info h2 {
    font-size: 1.2em;
    font-weight: 800;
}

.card-info p {
    margin: 5px 0;
}

.card-info a {
    color: #51A0D5;
}